<h1>Hello {{name}}</h1>
<a routerLink="/home">Home</a>
<a routerLink="/about">About</a>
<a routerLink="/lazy">Lazy</a>
<router-outlet></router-outlet>
<div *ngIf="empList.length>0">
    <span>Emplyee List</span>
    <div *ngFor="let emp of empList"><a href="#" (click)="showDetails(emp.id)">{{emp.first_name}}</a></div>
</div>
<button (click)="announce()">annouce</button>
<input type="text"  [(ngModel)]="myname">
<span>{{myname}}</span>
<emp-details [id]="empId"></emp-details>
<add-emp (addEmp)="addEmp($event)"></add-emp>